<h1>Home Page</h1>

<% @articles.each do |article| %>
	<div>
		<span><%= article.title %></span>
		<empahsis>- by <%= article.user.name %></emphasis>
		<span><%= link_to "View", user_article_path(article.user.id, article) %></span> | 
		<span><%= link_to "Edit", edit_user_article_path(article.user.id, article) %></span> | 
		<span><%= link_to "Delete", "" %></span>
	</div>
<% end %>