<div class="container">
<%= form_for @user, html: { class: "form form-signup", role: "form" } do |f| %>
<%# http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html %>

<%# 
    List of all available Methods (see instance methods right side):
    http://apidock.com/rails/ActionView/Helpers/FormHelper
  %>

  <%= render "shared/error_messages" %>
    
    <h2 class="form-signup-heading">Sign Up</h2>
    
    <%= f.text_field :name, class: "form-control first", placeholder: "Full Name", required: true, autofocus: true %>

    <%= f.email_field :email, class: "form-control no_rounded_corners", placeholder: "Email address", required: true %>
    
    <%= f.password_field :password, class: "form-control no_rounded_corners", placeholder: "Password", required: true %>

    <%= f.password_field :password_confirmation, class: "form-control last", placeholder: "Confirm Password", required: true %>
    
    <label class="checkbox">
      <input type="checkbox" value="remember-me" disabled="true"> Remember me
    </label>
    <%= f.submit "Create my account", class: "btn btn-lg btn-primary btn-block" %>

<% end %>

</div> <!-- /container -->

<%#  
for more form info, see:
http://ruby.railstutorial.org/chapters/sign-up#code-signup_form

%>