<%# provide(:page, "users#show") %>
<h1><%= @user.name %></h1>
<emphasis><%= @user.email %></emphasis>

<p><%= link_to "Create New", new_user_article_path(@user) %></p>

<hr />
<div class="container-fluid">
	<div class="row">	
		<div class="col-sm-6">
			<h3>Published</h3>
			<ol>
				<% @published_articles.each do |article| %>
				    <li>
				      <div>
				      	
				      	<%= link_to article.title, article_path(article) %>
				      	<%= render 'shared/articleControls', article_id: article.id %>

				      </div> 
				    </li>
				<% end %>
			</ol>
		</div>

		<div class="col-sm-6">
			<h3>Drafts</h3>
			<ol>
				<% @drafts.each do |article| %>
				    <li>
				      <div>
				      	
				      	<%= link_to article.title, article_path(article) %>
				      	<%= render 'shared/articleControls', article_id: article.id %>

				      </div> 
				    </li>
				<% end %>
			</ol>
		</div>
	</div><!-- .row -->
</div> <!-- .container-fluid -->
<%#
link_to "Profiles", profiles_path
%>