<nav>
    <b>ACTIONS & INDEXES<b>
  <ul>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Articles", articles_path %></li>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Login", "#" %></li>
    
    <% unless (params[:action] == "index") || (params[:action] == "create") ||(params[:controller] == "users" && params[:action] == "new")
      #don't show on Articles#index/Users#index OR Users#New
      %> 
    <li>
        <%= link_to "Write New", new_user_article_path(@user) %>
    </li>
  <% end %>
  
  </ul>

</nav>
</head>