<%# yield(:page) %>
<nav>

  <ul>
    <li><%= link_to "All articles", articles_path %></li>
    <li><%= link_to "All users", users_path %></li>
    <li><%= link_to "Josh Weaver", user_path(1) %></li>
    <li><%= link_to "Aaron Augello", user_path(2) %></li>
    <li><%= link_to "Sign up", new_user_path %></li>
    
    <% unless (params[:action] == "index") || (params[:controller] == "users" && params[:action] == "new")
      #don't show on Articles#index/Users#index OR Users#New
      %> 
      <li>
        <%= link_to "New Article", new_user_article_path(@user) %>
      </li>
  <% end %>
  
  </ul>

</nav>